body {
  font-family: Arial, sans-serif;
  background: url("../images/celestia_background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
}

.login-container input {
  width: 95%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  display: block;
}

.login-btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #45a049;
}

.links {
  margin-top: 15px;
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  margin-top: 5px;
  font-size: 14px;
  padding: 5px 10px;
}

.links a:hover {
  color: #4caf50;
}

.error {
  color: red;
  margin-bottom: 10px;
}
